<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>PDF TOOL</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

    <div class="container">

        <h1 class="title">📄 PDF TOOL</h1>
    
        <p class="sub">
            PDF 병합 / 분할을 한 번에 처리하는 자동화 도구
        </p>
    
        <div class="menu">
    
            <a href="/merge" class="btn">📎 PDF Merge</a>
            <a href="/split" class="btn">✂️ PDF Split</a>
    
        </div>
    
    </div>

</body>
</html>